{% extends 'base/main.html' %}

{% block title %}Полеты{% endblock %}

{% block body %}
    <div class="top-block">
        <div class="page-title">Полеты</div>
        <a class="btn btn--bd-light-red btn--default btn--exit" href="{% url 'logout' %}" data-method="post">Выйти</a>
    </div>

<style>
.btn{
    margin-bottom: 5px;
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <table class="table table-sm">
                    <tr>
                        <th>Дата полета</th>
                        <th>Отлетан</th>
                        <th>Тариф</th>
                        <th>Длительность полета</th>
                    </tr>
                    {% for fl in flights %}
                        {% for detail in fl.details %}
                        <tr>
                            {% if forloop.first %}<td rowspan="{{ fl.details|length }}">{{ fl.flight_date }}</td>{% endif %}
                            {% if forloop.first %}<td rowspan="{{ fl.details|length }}">{% if fl.is_used %}Отлетан{% else %}Не отлетан{% endif %}</td>{% endif %}
                            <td>{{ detail.flight_type }}</td>
                            <td>{{ detail.flight_time }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}
