{% extends 'base/main.html' %}
{% load static %}


{% block title %}Выбор времени{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h2>Форма входа</h2>
        <br>
    </div>
<style>
.btn{
    margin-bottom: 5px;
    }

.font-25 {
    font-size: 25px!important;
}

.input-simple-2 input {
    border: solid 1px rgba(0,0,0,0.1);
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    border-radius: 3px!important;
    text-indent: 15px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    {#font-size: 12px;#}
    outline: none;
    {#appearance: none;#}
    -webkit-appearance: none;
    transition: all 250ms ease;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: 600!important;
}
</style>

    <section class="section">
        <div class="container">

            <form method="post" action="" class="needs-validation" novalidate>
                {% csrf_token %}

                <p class="smaller-text bottom-10">Введите номер телефона</p>
                <div class="input-simple-2 bottom-15 font-25 bold phone-field">
                    <input type="tel" id="phone_number" class="font-25 bold" placeholder="+7 999 999 99-99" min_length=17 value="" autocomplete="off">
                </div>


                <div class="input-simple-2 bottom-15 disabled">
                    <input type="tel" id="otp" class="font-25 bold" placeholder="9 9 9 9" min_length=7 autocomplete="off" hidden>
                </div>

                <div class="input-group-append">
                    <a class="btn btn--default btn--blue" href="#" id="get_otp_button" type="button"  disabled="disabled" style="opacity: 0.2;">Получить одноразовый код</a>
                </div>

                <p id="otp_message" hidden class="smaller-text bottom-10">Введите номер телефона</p>
                <a href="#" id="login_button" type="button" class="btn btn--default btn--blue" hidden disabled="disabled" style="opacity: 0.2;">Войти</a>
                <input type="hidden" name="next" value="{{ next }}"/>
                <input type="hidden" name="order" value="{{ order }}"/>

                <div id="errors" class="container"></div>
            </form>
        </div>

    </section>

{% endblock %}

{# https://getbootstrap.com/docs/4.5/components/forms/#how-it-works #}

{% block jscript %}
    {{ otp_length|json_script:"otp_length" }}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

    <script src="{% static 'js/dist/cleave.min.js' %}"></script>
    <script src="{% static 'js/dist/addons/cleave-phone.ru.js' %}"></script>

    <script>
        otp = {
            primary_key: 0,
            otp_length: JSON.parse(document.getElementById('otp_length').textContent)
        }

        otp.onlyDigits = function onlyDigits(p){
            return p.replace(/\D/g, "");
        }

        otp.isValid = function isValid(p) {
            var digits = otp.onlyDigits(p);
            return digits.length === 10 || digits.length === 11
        }
        otp.appendError = function appendError(text){
            $("#errors").append(`<div class="alert alert-danger alert-dismissible">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<strong>Ошибка!</strong> ${text}</div>`
            );

        }

        $(document).ready(function () {
            {# Подключаем клевер для номера телефона и одноразового кода#}
            var get_otp_button=$("#get_otp_button");
            var login_button=$("#login_button");
            var el_phone = new Cleave('#phone_number', {
                prefix: '+7',
                numericOnly: true,
                blocks: [2, 3, 0, 3, 2, 2],
                delimiters: [" ", " ", " ", "-", "-"]
            });
            var el_code = new Cleave('#otp', {
                numericOnly: true,
                blocks: [1, 1, 1, 1],
                delimiter: " "
            });
            var el_input_change = function (e) {
                apply_button_opacity($(e.target));
                if (e.which == 13 && submit_button.attr("disabled") == undefined) {
                    //console.log("el input click");
                    //submit_button.click();
                }
            };
            $(el_code.element).on("change paste keyup", function (e) {
                el_input_change(e);
            });
            $(el_phone.element).on("change paste keyup", function (e) {
                el_input_change(e);
            });

            var apply_button_opacity = function ($el) {
                var min = $el.attr("min_length");
                if (min) {
                    var opacity = $el.val().length >= min ? 100 : 20;
                    {# TODO недоступность кнопки#}
                    var btn = $el.attr("id") == "phone_number" ? get_otp_button : login_button;
                    btn.attr("disabled", opacity == 100 ? null : "disabled");
                    btn.css("opacity", opacity / 100);
                }
            }
            {# Кнопка получения разового кода #}
            $("#get_otp_button").click(function () {
                if (get_otp_button.attr("disabled") == "disabled"){
                    return;
                }

                var phone = $("#phone_number").val()
                if (!otp.isValid(phone)){
                    {#alert("Номер телефона недейтсвительный!");#}
                    otp.appendError("Номер телефона недейтсвительный!");
                    return;
                }

                phone = otp.onlyDigits(phone);
                phone = '+' + (phone.length===10 ? "7" : "") + phone;
                {#$("#phone_number").val(phone);#}

                var jqxhr = $.post("{% url 'generate' %}", {"phone_number": phone}, function (response) {
                    otp.primary_key = response.pk;
                    {# Меняем кнопки местами: убираем получение кода, добавляем логин #}
                    login_button.removeAttr("hidden");
                    get_otp_button.attr("hidden", "hidden");

                    {# Выключаем ввод номера телефона, покаываем ввод кода #}
                    $("#phone_number").attr("disabled", "disabled");
                    $("#otp").removeAttr("hidden");
                    $("#otp_message").removeAttr("hidden");

                    if ('otp' in response){
                        alert(`Одноразовый код: ${response.otp}`)
                    }
                })
                    .done(function () {
                        {#alert("second success");#}
                    })
                    .fail(function (response) {
                        var lol = response
                        otp.appendError(JSON.stringify(response.responseJSON.reason));
                        {#alert(JSON.stringify(response.responseJSON.reason));#}
                    })
                    .always(function () {
                        {#alert("finished");#}
                    });
            });

            {# Кнопка логин #}
            $("#login_button").click(function () {
                if (login_button.attr("disabled") == "disabled") {
                    return;
                }

                if (!otp.isValid($("#phone_number").val())){
                    {#alert("Номер телефона недейтсвительный!");#}
                    otp.appendError("Номер телефона недейтсвительный!");
                    return;
                }

                var code =  $("#otp").val();
                code = otp.onlyDigits(code);
                if (!code.length === otp.otp_length){
                    otp.appendError("Одноразовый код введен не полностью");
                    {#alert('Одноразовый код введен не полностью');#}
                    return;
                }

                var data = {
                    'pk': otp.primary_key,
                    'otp': code
                }

                var jqxhr = $.post("{% url 'validate' %}", data, function (ddd) {
                    {#alert("success");#}
                    if(ddd.status === 200){
                        if ("next" in ddd){
                            window.location.href = ddd.next;
                            return;
                        }
                        const searchString = new URLSearchParams(window.location.search);
                        const url = searchString.get('next');

                        window.location.href = url ? url : "/";
                    }
                })
                    .done(function () {
                        {#alert("second success");#}
                    })
                    .fail(function () {
                        otp.appendError("Введенный код неверный!");
                    })
                    .always(function () {
                        {#alert("finished");#}
                    });
            });
        });
    </script>

{% endblock %}
