{% extends 'base/main.html' %}
{% load static %}


{% block title %}Выбор времени{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h2>Форма входа</h2>
        <br>
    </div>
<style>
.btn{
    margin-bottom: 5px;
    }

.font-25 {
    font-size: 25px!important;
}
{##phone {#}
{#    padding-left: 45px !important;#}
{# }#}
.input-simple-2 input {
    border: solid 1px rgba(0,0,0,0.1);
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    border-radius: 3px!important;
    text-indent: 15px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    {#font-size: 12px;#}
    outline: none;
    {#appearance: none;#}
    -webkit-appearance: none;
    transition: all 250ms ease;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: 600!important;
}
</style>

    <section class="section">
        <div class="container">

            <form method="post" action="" class="needs-validation" novalidate>
                {% csrf_token %}

                <p class="smaller-text bottom-10">Введите номер телефона</p>
                <div class="input-simple-2 bottom-15 font-25 bold phone-field">
                    <input type="tel" id="phone_number" class="font-25 bold" placeholder="+7 999 999 99-99" min_length=14 value="">
                </div>


                <div class="input-simple-2 bottom-15 disabled">
                    <input type="tel" id="otp" class="font-25 bold" placeholder="9 9 9 9" min_length=7>
                </div>

                <div class="input-group-append">
                    <button id="get_otp_button" type="button" class="btn btn-outline-secondary">Получить одноразовый
                        код
                    </button>
                </div>
{#                <a href="#" step="0" class="btn  btn-sm button submit bg-highlight button-full button-rounded button-s uppercase ultrabold bottom-10 shadow-medium">Отправить</a>#}

                <button id="login_button" type="button" class="btn btn btn-outline-secondary">Войти</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>

    </section>

{% endblock %}

{# https://getbootstrap.com/docs/4.5/components/forms/#how-it-works #}

{% block jscript %}
    {{ otp_length|json_script:"otp_length" }}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

    <script src="{% static 'js/dist/cleave.min.js' %}"></script>
    <script src="{% static 'js/dist/addons/cleave-phone.ru.js' %}"></script>

    <script>
        otp = {
            primary_key: 0,
            otp_length: JSON.parse(document.getElementById('otp_length').textContent)
        }

        otp.onlyDigits = function onlyDigits(p){
            return p.replace(/\D/g, "");
        }

        otp.isValid = function isValid(p) {
            var phoneRe = /^[2-9]\d{2}[2-9]\d{2}\d{4}$/;
            var digits = otp.onlyDigits(p);
            {#return phoneRe.test(digits) && digits.length === 10#}
            {#    || phoneRe.test(digits.substring(1)) && digits.length === 11;#}
            return digits.length === 10 || digits.length === 11
        }

        $(document).ready(function () {
            {# Подключаем клевер для номера телефона#}
            var submit_button=$("#login_button");
            var el_phone = new Cleave('#phone_number', {
                prefix: '+7',
                numericOnly: true,
                blocks: [2, 3, 0, 3, 2, 2],
                delimiters: [" ", " ", " ", "-", "-"]
            });
            var el_code = new Cleave('#otp', {
                numericOnly: true,
                blocks: [1, 1, 1, 1],
                delimiter: " "
            });
            var el_input_change = function (e) {
                apply_button_opacity($(e.target));
                if (e.which == 13 && submit_button.attr("disabled") == undefined) {
                    submit_button.click();
                }
            };
            $(el_code.element).on("change paste keyup", function (e) {
                el_input_change(e);
            });
            $(el_phone.element).on("change paste keyup", function (e) {
                el_input_change(e);
            });

            var apply_button_opacity = function ($el) {
                var min = $el.attr("min_length");
                if (min) {
                    var opacity = $el.val().length >= min ? 100 : 20;
                    {# TODO недоступность кнопки#}
                    {#submit_button.attr("disabled", opacity == 100 ? null : "disabled");#}
                    submit_button.css("opacity", opacity / 100);
                }
            }
            {# Кнопка получения разового кода #}
            $("#get_otp_button").click(function () {
                var phone = $("#phone_number").val()
                if (!otp.isValid(phone)){
                    alert("Номер телефона недейтсвительный!");
                    return;
                }

                phone = otp.onlyDigits(phone);
                phone = '+' + (phone.length===10 ? "7" : "") + phone;
                {#$("#phone_number").val(phone);#}

                var jqxhr = $.post("{% url 'generate' %}", {"phone_number": phone}, function (response) {
                    otp.primary_key = response.pk;
                    if ('otp' in response){
                        alert(`Одноразовый код: ${response.otp}`)
                    }
                })
                    .done(function () {
                        {#alert("second success");#}
                    })
                    .fail(function (response) {
                        var lol = response
                        alert(JSON.stringify(response.responseJSON.reason));
                    })
                    .always(function () {
                        {#alert("finished");#}
                    });
            });

            {# Кнопка логин #}
            $("#login_button").click(function () {

                if (!otp.isValid($("#phone_number").val())){
                    alert("Номер телефона недейтсвительный!");
                    return;
                }

                var code =  $("#otp").val();
                code = otp.onlyDigits(code);
                if (!code.length === otp.otp_length){
                    alert('Одноразовый код введен не полностью');
                    return;
                }

                var data = {
                    'pk': otp.primary_key,
                    'otp': code
                }

                var jqxhr = $.post("{% url 'validate' %}", data, function (ddd) {
                    {#alert("success");#}
                    if(ddd.status === 200){
                        const searchString = new URLSearchParams(window.location.search);
                        const url = searchString.get('next');

                        window.location.href = url ? url : "/";
                    }
                })
                    .done(function () {
                        {#alert("second success");#}
                    })
                    .fail(function () {
                        alert("error");
                    })
                    .always(function () {
                        {#alert("finished");#}
                    });
            });
        });
    </script>

{% endblock %}
