<!-- Modal -->
<div id="myModal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Мои данные</h5>
                <button id="modal_close1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"><style>input {background-color: #e2e2e2;}</style>
                <p>Для оформления заказа необходимо заполнить свои данные</p>

                <form action="/your-name/" method="post">

                    <label for="id_surname">Фамилия: </label>
                    {{ form.surname }}<br>
                    <label for="id_name">Имя: </label>
                    {{ form.name }}<br>
                    <label for="id_email">email: </label>
                    {{ form.email }}<br>
                </form>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" id="confirm" type="checkbox" name="remember" required> Принимаю условия
                        соглашения.
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Check this checkbox to continue.</div>
                    </label>
                </div>
            </div>
            <div id="modal_errors" class="container"></div>
            <div class="modal-footer">
                <button id="modal_close2" type="button" class="btn btn-secondary active" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary active" onclick="registration.save()">Сохранить</button>
            </div>
        </div>
    </div>

    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script>
        registration = {
            next_action: ''
        }
        registration.appendError = function appendError(text) {
            $("#modal_errors").append(`<div class="alert alert-danger alert-dismissible">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<strong>Ошибка!</strong> ${text}</div>`
            );
        }

        registration.save = function save_data() {
            if (!$("#confirm").prop("checked")) {
                {#alert('Необходимо принять условия');#}
                registration.appendError('Необходимо принять условия');
                return;
            }

            // берем данные, проверяем
            var f = $("#id_surname").val();
            var i = $("#id_name").val();
            var e = $("#id_email").val();

            // сохраняем
            data = {
                "surname": f,
                "name": i,
                "email": e,
                csrfmiddlewaretoken: CSRF_TOKEN
            }

            var jqxhr = $.post("{% url 'register' %}", data, function (response) {
                // закрываем окошко
                $('#myModal').modal('hide');
                if (registration.next_action) {
                    window.location.href = registration.next_action;
                }
            })
                .done(function () {
                    {#alert("second success");#}
                })
                .fail(function (response) {
                    var lol = response
                    {#alert('Ошибка сохранения');#}
                    registration.appendError('Ошибка введенных данных');
                    return;
                })
                .always(function () {
                    {#alert("finished");#}
                });


        }
    </script>
</div>
