DEBUG=on
SECRET_KEY=your_secret_key
DATABASE_URL=mysql://django_user:password@127.0.0.1:3306/myapp
SQLITE_URL=sqlite:///my-local-sqlite.db
STATIC_ROOT=

SOAP_WSDL=http://some.path/to/ws/service?wsdl
WS_LOGIN=username
WS_PASS=pass
WS_PROXY_LOGIN=username2
WS_PROXY_PASS=pass2
WS_IGNORE_SSL=on
WS_DEFAULT_USER_ID=666

PHONE_LOGIN_ATTEMPTS=10
PHONE_LOGIN_OTP_LENGTH=6
PHONE_LOGIN_OTP_HASH_ALGORITHM=sha256
# will include otp in generate response, default is False.
PHONE_LOGIN_DEBUG=on

SENDSMS_BACKEND=sendsms.backends.console.SmsBackend
SENDSMS_FROM_NUMBER=+XXxxxxxxxxxx
SENDSMS_ACCOUNT_SID=ACXXXXXXXXXXXXXX
SENDSMS_AUTH_TOKEN=xxxxxxxx

SMSC_ONLY_BALANCE=off
SMSC_LOGIN=smslogin
SMSC_PASSWORD=smspass

ROBOKASSA_SHOP=shop_name
ROBOKASSA_PASS1=pass1
ROBOKASSA_PASS2=pass2

ROBOKASSA_IN_TESTING=on
ROBOKASSA_TEST_PASS1=test_pass1
ROBOKASSA_TEST_PASS2=test_pass2

USE_SENTRY=off
SENTRY_DNS=https://key@o379804.ingest.sentry.io/id

# RABBIT
RABBIT_SERVER=1.2.3.4
RABBIT_USER=dev_client
RABBIT_PASS=pass
RABBIT_VHOST=dev

REDIS_CACHE_LOCATION=redis://127.0.0.1:6379/1
CACHE_PREFIX=dev