{% extends 'base/main.html' %}

{% block title %}Информация{% endblock %}

{% block body %}
    <div class="top-block">
        <div class="page-title">{{ title }}</div>
{#        <a class="btn btn--bd-light-red btn--default btn--exit" href="{% url 'logout' %}" data-method="post">Выйти</a>#}
    </div>
<style>
.btn{
    margin-bottom: 5px;
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% if message %}
                    <p>{{ message }}</p>
                {% else %}
                    <p>{{ message_html|safe|escape }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}