{% extends 'base/main.html' %}

{% block body %}
    <div class="top-block">
        <div class="page-title">Выбор даты полета</div>
        <button class="btn btn--bd-light-blue btn--default btn--arrow-left btn-back" onclick="window.history.back();">Вернуться назад</button>
    </div>


    <div class="content-wrap">

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button id="button_prev" type="button" class="btn btn-light"{{ button_disabled }}>❮</button>
            <span>{{ month_name }}</span>
            <button id="button_next" type="button" class="btn btn-light"> ❯</button>
            {#  <div class="btn-group" role="group"> TODO СДЕЛАТЬ ВЫБОР МЕСЯЦА#}
            {#    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#      Dropdown#}
            {#    </button>#}
            {#    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">#}
            {#      <a class="dropdown-item" href="#">Dropdown link</a>#}
            {#      <a class="dropdown-item" href="#">Dropdown link</a>#}
            {#    </div>#}
            {#  </div>#}
        </div>


        <div class="container">
            {% for week in booking_data %}
                <div class="btn-group">
                    {% for day in week %}
                        <a
                                href="{% url 'time_selection' %}{{ day.value }}"
                                class="btn {{ day.style }} {{ day.disabled }}"
                                role="button">{{ day.day }}
                        </a>
                    {% endfor %}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block jscript %}
    {{ month|json_script:"month" }}
    <script>
        let cur_month;
        $(document).ready(function () {
            cur_month = new Date(JSON.parse(document.getElementById('month').textContent));
            $("#button_next").click(function () {
                cur_month.setMonth(cur_month.getMonth() + 1);
                window.location.href = "{% url 'date_selection' %}" + cur_month.toISOString().substr(0, 7);
            });

            $("#button_prev").click(function () {
                cur_month.setMonth(cur_month.getMonth() - 1);
                window.location.href = "{% url 'date_selection' %}" + cur_month.toISOString().substr(0, 7);
            });

            $('.btn-back').on('click', function () {
                window.history.back();
            });
        })
    </script>
{% endblock %}