{% extends 'base/main.html' %}

{% block title %}Выбор времени{% endblock %}

{% block body %}
    <div class="top-block">
        <div class="page-title">Выбор даты полета</div>
        <button class="btn btn--bd-light-blue btn--default btn--arrow-left btn-back" onclick="window.history.back();">Вернуться назад</button>
    </div>

    <div class="content-wrap">
        {% if slots %}
            {% for slot in slots %}
                <a
                        href="{% url 'payment_method_selection' time=slot.time %}"
                        class="btn {{ slot.warning }} {{ slot.style }}"
                        role="button">{{ slot.description }}
                </a>
            {% endfor %}
        {% else %}
            <div class="page-content-wrap">
                <p>На выбранную дату бронирование недоступно.</p>
            </div>
        {% endif %}
    </div>

{% endblock %}
